/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Main Styles */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
}

/* Header Styling */
header {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    font-family: 'IBM Plex Sans Medium', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

/* Anasayfa Section Styling */
.about-section {
    text-align: center;
    padding: 4rem 2rem;
}

.forward-text {
    font-family: 'IBM Plex Sans ExtraLight Italic', sans-serif;
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.text-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}

.text-section {
    font-size: 1.4rem;
    font-family: 'IBM Plex Sans Thin', sans-serif;
    max-width: 300px;
}

.image-section img {
    width: 250px;
    border-radius: 5px;
}

/* Footer Styling */
footer {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    color: #000;
}
